a:link {
  color: #317773;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: #317773;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #317773;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-style: dotted;
}

body {
  background-color: #e2d1f9;
}

h1 {
  font-family: "Thasadith", sans-serif;
  font-size: 500%;
  color: #317773;
  font-weight: bold;
}

h2 {
  font-family: "Thasadith", sans-serif;
  font-size: 200%;
  color: #317773;
}

.bgcolor {
  background-color: #e2d1f9;
}

.btncolor {
  color: white;
  background-color: #317773;
}

.linkcolor {
  color: #317773;
}

.margin {
  margin-top: 3rem;
}

.ta-c {
  text-align: center;
}
