a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: #6eb589;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #6eb589;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-style: dotted;
}

body {
  background-color: #d3b8a5;
}

.btn:hover {
  color: #d3b8a5;
}

h1 {
  font-family: "Thasadith", sans-serif;
  font-size: 500%;
  color: white;
  font-weight: bold;
}

h2 {
  font-family: "Thasadith", sans-serif;
  font-size: 200%;
  color: white;
}

.bgcolor {
  background-color: #d3b8a5;
}

.biocard {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.cardcolor {
  background-color: #e4a0ad;
}

.btncolor {
  color: white;
  background-color: #6eb589;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.linkcolor {
  color: white;
}

.margin {
  margin-top: 3rem;
}

.marginlandr {
  margin-right: 1rem;
  margin-left: 1rem;
}

.ta-c {
  text-align: center;
}
